@import 'styles/utils/mixins';

.benefits {
  padding: 65px 0;
  background-color: #eee;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  @include onTablet {
    gap: 40px;
  }
}

.image {
  height: 82px;
  width: 82px;

  @include onTablet {
    height: 120px;
    width: 120px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  width: 428px;
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #ccc;

  @include onTablet {
    padding: 24px 40px;
    flex-direction: row;
  }
}

.subtitle {
  font-weight: bold;
  font-size: 1.1em;
}