@import 'styles/utils/mixins';

.contactUs {
  position: relative;
  background-color: #eee;
}

.contactUsContent {
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 8px;
}

.form {
  margin-top: 30px;
}

.btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include onTablet {
    margin-right: 0;
    width: max-content;
  }
}

.getBtns {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include onLaptop {
    justify-content: flex-start;
  }
}