@import '../utils/mixins';

.container {
  max-width: 936px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @include onTablet {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include onLaptop {
    padding-right: 0;
    padding-left: 0;
  }

  @include onDesktop {
    max-width: 1234px;
  }
}
