@import '../utils/mixins';

.container {
  max-width: 936px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @include onDesktop {
    max-width: 1234px;
  }
}
