@import 'styles/utils/mixins';

.block {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include on900 {
    flex-direction: row;
  }
}

.ourMission {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-size: 24px;
  font-weight: 400;

  @include onLaptop {
    font-size: 40px;
  }
}

.subtitle {
  padding-top: 10px;

  @include onLaptop {
    padding-top: 20px;
  }
}

.image {
  width: 100%;
  border-radius: 8px;
  height: 350px;
  object-fit: cover;

  @include on900 {
    width: 50%;
  }
}