@import 'styles/utils/mixins';

.listHeader {
  display: flex;
  justify-content: space-between;
}

.filterBtn {
  align-self: start;
  @media (min-width: 900px) {
    display: none;
  }
}

.subtitle {
  color: grey;
  margin-bottom: 10px;

  @include onTablet {
    margin-bottom: 20px;
  }
}

.chips {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  @include onTablet {
    padding: 20px 0;
  }
}

.card {
  flex-basis: 100%;

  @include onTablet {
    flex-basis: 50%;
  }

  @include onLaptop {
    flex-basis: calc(100% / 3);
  }
}

.paginationWrap {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  @include onTablet {
    padding: 20px 0;
  }
}
