@import 'styles/utils/mixins';

.swiper_content {
  padding: 60px 10px 10px;
  background-color: #eee;
  height: 100%;
  width: 100%;
  position: relative;

  @include onTablet {
    padding: 70px 30px 30px;
  }
}

.close_btn {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-top: 5px;
}

.swiper {
  width: 100%;
  height: 100%;
}
//
.generalSwiper {
  height: 80%;
  width: 100%;
}

.generalSwiper img {
  height: 400px;
  width: 100%;
}

.scrollSwiper img {
  height: 80px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.scrollSwiper .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.scrollSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
  color: #eee;
}