@import 'styles/utils/mixins';

.hotelsByTypes {
  padding: 20px 0;
  background-color: #fff;
  margin-left: auto;
  padding-left: 16px;

  @include onLaptop {
    padding: 60px 0;
  }
}

.swiper {
  height: 100%;
  width: 100%;
}


.swiper-slide img {
  object-fit: cover;
}

