.footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 20px;
  object-fit: contain;
}

.menu {
  display: flex;
  gap: 12px;
  align-items: center;
}

